* {
    margin: auto;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-image: url("https://cdn-images-1.medium.com/max/1600/0*I-sI3u34g0ydRqyA");
}

.create {
    width: 40%;
    height: 100%;
    background-color: #8ce4f1;
    position: fixed;
    left: 0;
    top: 0;
    color: #742113;
    border-radius: 0 30px 30px 0;
}

.create form {
    margin-top: 100px;
}

.create input {
    width: 100%;
    font-size: 18px;
    padding: 7px;
}

.name {
    margin-left: 5px;
    font-size: 20px;
    margin-top: 4%;
}

h1 {
    text-align: center;
}
input[type=button], input[type=reset]{
    background-color:#742113;
    border-radius: 20px;
    border-color: black;
    margin-top: 5%;
    color: #f1f3f4;
}
input[type=reset]:hover{
    background-color: #0099cc;
}
input[type=button]:hover{
    background-color: #0099cc;
}
.bgr{
    width: 60%;
}

.msg-error {
    color: red;
}

.msg-success {
    color: #3d9e66;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    @media only screen and (max-width: 600px) {
/* For desktop: */


